.flexbox {
    display: flex;
}

.pantry-list {
    height: fit-content;
}

ul {
    margin: 0px;
    list-style: none;
    padding: 0px;
}

.item-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 70px;
}

.name-container-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.name {
    margin: 0px;
    padding: 0 0 5px 0;
    font-size: 22px;
    font-weight: 600;
}

.type {
    font-size: 16px;
    margin: 0px;
}

.button-container-right {
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-evenly;
}

.count-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 25px;
}

.count-button {
    font-size: 20px;
    height: 32px;
    width: 32px;
    border: 1px solid black;
    border-radius: 10px;
}

.quantity {
    height: 28px;
    width: 28px;
    text-align: center;
    margin: auto;
    padding-top: 10px;
}

.grocery-button {
    border: none;
    background: none;
    padding: 0 0 0 15px;
}

.border-bottom-wrapper {
    display: flex;
    justify-content: center;
}

.border-bottom {
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.274);
    width: 100%;
}