.tabs-wrapper {
    display: flex;
    background: rgba(208, 247, 232, 0.842);
}

.edge {
    width: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    background: rgba(208, 247, 232, 0.842);
}

.tabs {
    width: 50%;
    position: relative;
    padding: 20px;
    background: rgb(211, 247, 253);
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align: center;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.274);
    box-sizing: content-box;
    outline: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tabs:not(:last-child) {
    border-right: 1px solid rgba(0, 0, 0, 0.274);
}

.active-tab {
    background: white;
    border-bottom: 1px solid transparent;
}

.active-tab::before {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
}