.Navigation-navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    height: 6%;
    padding: 10px 20px 15px 20px;
    background: rgba(208, 247, 232, 0.842);
}

.Navigation-app-name {
    font-size: 24px;
}