.Navigation-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .25em 1.1em .25em 1.1em;
    background: rgba(208, 247, 232, 0.842);
}

.Navigation-app-name {
    font-size: 1.5rem;
}