.Grocery-grocery {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Grocery-grocery-item-list {
    height: 37em;
    /* flex: 1; */
    overflow: auto;
}

.Grocery-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    bottom: 0;
    width: 100%;
    position: fixed;
}

.Grocery-button-wrapper {
    display: flex;
    flex-direction: row;
    height: 34px;
    width: 150px;
    margin: 20px 15px;
}

.Grocery-grocery-item-checked-list {
    margin-bottom: 75px;
}

.Grocery-checked-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10px 0px 10px;
}